@font-face {
  font-family: 'Montserrat Light Alt1';
  src: url('../../fonts/MontserratLightAlt1Light.eot');
  src: url('../../fonts/MontserratLightAlt1Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/MontserratLightAlt1Light.woff2') format('woff2'),
    url('../../fonts/MontserratLightAlt1Light.woff') format('woff'),
    url('../../fonts/MontserratLightAlt1Light.ttf') format('truetype'),
    url('../../fonts/MontserratLightAlt1Light.svg#MontserratLightAlt1Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
