.hide-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

// Date picker mini fixes
.date-picker {
  .rdrCalendarWrapper,
  .rdrDateDisplayWrapper {
    border-radius: 4px;
  }
  .rdrDefinedRangesWrapper {
    display: none;
  }
}
